* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    text-align: left;
}

h2 {
    padding-bottom: 1.5rem;
}

p {
    font-size: 1.5rem;
    font-style: italic;
}

.main {
    padding: 8% 15% 3%;
}

.main-btn {
    background-color: #617398;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    padding: 0.25rem 1rem;
}

.container-fluid {
    padding: 0;
}

/* Navigation Bar */
#nav-bar {
    left: 0;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 9999;
}

#nav-list {
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0.75rem 0.5rem;
    width: 100%;
}

.nav-link{
    text-decoration: none;
    color: #617398;
}

.nav-list-item {
    display: inline;
    padding: 1rem 0.75rem;
}

/* Introduction */
#intro-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#intro-name {
    font-size: 5rem;
    font-weight: 700;
}

.intro-title {
    font-size: 4rem;
    padding-top: 1.5rem;
}

#welcome {
    padding-bottom: 1.5rem;
}

#tagline {
    padding-top: 1rem;
}

#intro-right {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

#memoji {
    border-radius: 50%;
    border: 0.75rem solid #617398;
    height: auto;
    padding: 5%;
    width: 75%;
}

#resume-btn {
    font-size: 1.25rem;
    padding: 0.5rem 2rem;
}


/* Overview */
.list {
    padding: 1rem 0 1rem 5rem;
}

.list-item {
    font-size: 1.5rem;
    margin-bottom: 5%;
    padding-left: 5%;
}

.list-icon {
    color: #617398;
    font-size: 2rem;
}

.overview-heading {
    padding-top: 1.5rem;
    text-align: left;
}

.overview-block {
    padding: 1.5rem 0;
}

.overview-company {
    font-size: 1.2rem;
    text-decoration: underline;
}

.overview-date {
    text-align: right;
    font-weight: bold;
}

.overview-title {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

/* Experience */
.experience-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

.experience-date {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.experience-desc {
    font-size: 1rem;
}

/* Extracurricular + Awards */
.circle-container {
    display: flex;
    justify-content: space-around;
}

.circle-item {
    align-items: center;
    border-radius: 50%;
    border: 0.75rem solid #617398;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    text-align: center;
    width: 300px;
}

.circle-icon {
    color: #617398;
    font-size: 3rem;
}

.circle-title {
    font-size: 1.25rem;
    margin-top: 15px;
    margin-bottom: 15px;
}

.circle-desc {
    font-size: 1rem;
    font-weight: bold;
}

/* Contact */
.contact-container {
    background-color: #617398;
    border-top-left-radius: 150%;
    border-top-right-radius: 150%;
    height: 25vw;
    width: 100%;
}

.contact-content {
    align-items: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
}

/* Contact */
a .far, a .fab {
    color: #FFFFFF;
}

.contact-row {
    color: #FFFFFF;
    display: flex;
    font-size: 1.5rem;
    justify-content: space-evenly;
    padding-top: 1.5rem;
    width: 100%;
}

/* Divider */
.divider {
	height: 1px;
	margin-top: 3%;
    cursor: pointer;
    margin-bottom: 4%;
    position: relative;
}

.arrow-down:after
{
	background-color: white;
	border-bottom: 4px solid #617398;
	border-right: 4px solid #617398;
	content: "";
	height: 20px;
	left: calc(50% - 7px);
	position: absolute;
	top: -7px;
	transform: rotate(45deg);
	width: 20px;
	z-index: 1;
}

@media screen and (max-width: 1324px) {
    .circle-item {
        width: 200px;
        height: 200px;
    }

    .circle-icon {
        display: none;
    }
    
    .circle-title {
        font-size: 1rem;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .circle-desc {
        font-weight: bold;
        font-size: 1rem;
    }

    .contact-container {
        height: 40vw;
    }
}

@media screen and (max-width: 768px) {
    section:not(#nav-bar):not(#intro):not(#contact) {
        padding: 5% 5%;
    }

    .list-item {
        font-size: 3vw;
    }

    .overview-title {
        display: flex;
        flex-direction: column;
    }

    .overview-date {
        text-align: left;
    }
    .circle-container {
        flex-direction: column;
        align-items: center;
    }

    .circle-title {
        font-size: 1.25rem;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .circle-desc {
        font-weight: bold;
        font-size: 1rem;
    }

    .circle-item {
        width: 300px;
        height: 300px;
        margin: 2%;
    }

    .circle-icon {
        display: block;
        font-size: 3rem;
    } 

    #memoji {
        display: none;
    }
}
