* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h5 {
    text-align: center;
}

h2 {
    padding-bottom: 1.5rem;
}

h4 {
    text-align: left;
}

body {
    text-align: left;
}

strong {
    text-decoration: underline;
}

a {
    color: #ae5040;
}

section:not(#nav-bar):not(#intro) {
    padding: 5% 15%;
}

/* Navigation Bar */
.navbar {
    background-color: #ae5040;
}

.nav-item {
    padding: 0rem 0.25rem;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

li {
    padding: 0.5% 0;
}

/* Introduction */
#intro {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/sunset.jpg');
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    padding: 7% 15%;
    margin-top: 56px;
}

.intro-title {
    font-size: 4rem;
    padding-top: 1.5rem;
}

/* Overview */
.overview-heading {
    padding-top: 1.5rem;
    text-align: left;
}

.overview-block {
    padding: 1.5rem 0;
}

.overview-company {
    font-size: 1.2rem;
    text-decoration: underline;
}

.overview-date {
    text-align: right;
    font-weight: bold;
}

.overview-title {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

/* Buttons */
.btn-primary, .btn-primary:visited {
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
    color: #ae5040;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #c77a6d !important;
    border-color: #c77a6d !important;
}

/* Contact */
a .far, a .fab {
    color: #FFFFFF;
}

.contact-row {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.5rem;
}

@media screen and (max-width: 800px) {
    section:not(#nav-bar):not(#intro) {
        padding: 5% 8%;
    }

    .overview-title {
        display: flex;
        flex-direction: column;
    }

    .overview-date {
        text-align: left;
    }
}